[submodule "libs/zmath"]
	path = libs/zmath
	url = https://github.com/zig-gamedev/zmath.git
[submodule "libs/zglfw"]
	path = libs/zglfw
	url = https://github.com/zig-gamedev/zglfw.git
[submodule "libs/zopengl"]
	path = libs/zopengl
	url = https://github.com/zig-gamedev/zopengl.git
