[submodule "libs/zmath"]
	path = libs/zmath
	url = https://github.com/zig-gamedev/zmath.git
[submodule "libs/zglfw"]
	path = libs/zglfw
	url = https://github.com/zig-gamedev/zglfw.git
[submodule "libs/zopengl"]
	path = libs/zopengl
	url = https://github.com/zig-gamedev/zopengl.git
[submodule "libs/zbullet"]
	path = libs/zbullet
	url = https://github.com/zig-gamedev/zbullet.git
[submodule "libs/zgpu"]
	path = libs/zgpu
	url = https://github.com/zig-gamedev/zgpu.git
[submodule "libs/zgui"]
	path = libs/zgui
	url = https://github.com/zig-gamedev/zgui.git
[submodule "libs/zpool"]
	path = libs/zpool
	url = https://github.com/zig-gamedev/zpool.git
[submodule "libs/zmesh"]
	path = libs/zmesh
	url = https://github.com/zig-gamedev/zmesh.git
[submodule "libs/ztracy"]
	path = libs/ztracy
	url = https://github.com/zig-gamedev/ztracy.git
[submodule "libs/znoise"]
	path = libs/znoise
	url = https://github.com/zig-gamedev/znoise.git
