zig-cache
.zig-cache
zig-out
bin/*exe
*.blend.json
*.blend1

# Imgui state
imgui.ini

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-zip
dist-ssr
*.local

art-pipeline/Meshroom-2023.3.0
art-pipeline/extracted_frames
art-pipeline/MeshroomCache
art-pipeline/project-files
art-pipeline/meshes

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
